$bg-color: transparent;
$border-color: #d5d5d5;
$text-color: white;

footer {
  background-color: $bg-color;
  border-top: 1px solid $border-color;
  width: 95%;
  height: 65px;
  margin: 0 2.5%;

  .footer-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    cursor: pointer;

    & a {
      color: $text-color;
      text-decoration: none;
      font-weight: bold;
      font-size: .7rem;
    }

    & .last-update {
      justify-self: flex-start;
    }

    .source-code {
      a {
        padding: 0.4rem 0.3rem;
        border-radius: 0.2rem;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          text-decoration: none;
        }

        svg {
          margin: 0 0.2rem;
        }
      }

    }

    & .signature {
      justify-self: flex-end;
    }

    @media only screen and (max-width: 460px) {
      & a { font-size: .65rem; }
    }
    @media only screen and (max-width: 375px) {
      & a { font-size: .6rem; }
    }
  }
}